<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div th:fragment="formEmprestimo" class="form">
        <label for="idAluno">Aluno:</label>
        <select required id="idAluno" th:field="*{aluno}">
           <option value="">--</option>
           <option th:each="a : ${alunos}"
                   th:value="${a.id}"
                   th:text="${a.nome}">
           </option>
        </select >
        <br>

        <label for="dataEmprestimo">Data de empréstimo:</label>
        <input type="date" id="dataEmprestimo" th:field="*{dataEmprestimo}" placeholder="Informe a data de empréstimo" required/>
        <br>

        <label for="dataDevolucaoPrevista">Data de devolução prevista:</label>
        <input type="date" id="dataDevolucaoPrevista" th:field="*{dataDevolucaoPrevista}" placeholder="Informe a data de devolução prevista" required/>
        <br>

        <label for="dataDevolucaoReal">Data de devolução real:</label>
        <input type="date" id="dataDevolucaoReal" th:field="*{dataDevolucaoReal}" placeholder="Informe a data de devolução real" required/>
        <br>

        <label for="status">Status:</label>
        <select id="status" th:field="*{status}" required>
            <option value="" disabled selected>Selecione o status</option>
            <option value="ATIVO">Ativo</option>
            <option value="DEVOLVIDO">Devolvido</option>
            <option value="ATRASADO">Atrasado</option>
        </select>
        <br>
        <label for="livro">Livro:</label>
        <input type="text" id="livro" th:field="*{livro}" placeholder="Informe o livro" required/>
        <br>

    </div>
    
</body>
</html>