body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1{
  color: #000000ff;
  font-size: 50px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  margin : 10px 0px 10px 0px; 
}

footer{
	position: fixed;
	bottom: 0;
}
.button_sair{
  background-color: #97423fff;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: auto;
  margin-left: 50px;
  cursor: pointer;
  border-radius: 12px;
  transition: 0.3s ease;
}
.button_sair:hover{
  background-color: #ac2b27ff;
}
.button1{
  background-color: #21ce11ff;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  
  transition:  0.3s ease;
}
.button2{
  background-color: #ff0800ff;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  transition: 0.3s ease;
}

p{
  text-align: center;
}

label{
  color: #000000ff;
  font-size: 20px;
  width: 100%;
  
  text-transform: uppercase;
  display: block;
  margin-top: 20px;
  padding-bottom: 5px;
}

input{
  margin: auto;
  width: 100%;
  display: block;
  padding: 10px;
  font-size: 18px;
  border: 2px solid #21ce11ff;
  border-radius: 5px;
  transition: 0.3s ease;
}


.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #016E3E; /* Marrom escuro, como madeira */
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 22px;
  text-transform: uppercase;
  color: #ffffffff; 
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
  
}

select{
  margin: auto;
  display: block;
  padding: 10px;
  font-size: 18px;
  border: 2px solid #21ce11ff;
  border-radius: 5px;
  transition: 0.3s ease;
  margin-bottom: 10px;
  width: 100%;
}

input:hover{
  border: 2px solid #000000ff;
}
input:active, input:focus {
  border: 2px solid #21ce11ff;
}

.button1:hover{
  background-color: #15ff0059;
}

.button2:hover{
    background-color: #ff080050;

}
th{
  background-color: #21ce11ff;
  color: white;
  padding: 10px;
  text-transform: uppercase;
  text-align: center;
  align-items: center;
}
td{
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}
.sidenav a:hover, .dropdown-btn:hover {
  color: #21ce11ff; 
}

.editar{
  color: #21ce11ff;
  text-decoration: none;
  font-weight: bold;
}
.excluir{
  color: #ff0800ff;
  text-decoration: none;
  font-weight: bold;
}



.main {
  margin-left: 200px; 
  font-size: 20px; 
  padding: 0px 10px;
}

.active {
  background-color: #000000ff;
  
  color: white;
}
.dropdown-btn {
  transition: 0.3s;
  color: white;
}
.dropdown-container {
  display: none;
  background-color: #000000ff; /* Um marrom um pouco mais claro que o principal */
  padding-left: 8px;
  transition: 0.3s;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}